:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;

    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

[class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}


/*#########################################################*/
/**********************#### HEADER ####*********************/
/*#########################################################*/


.header{
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10rem;

    padding-top: 5rem;
}

@media (min-width: 768px) { 
    .header{
        background-size: 50rem;
    }
}

@media (min-width: 992px) { 
    .header{
        background-size: 60rem;
    }
}

@media (min-width: 1280px) { 
    .header{
        background-size: 110rem;
    }
}

@media (min-width: 768px) { 

    .header__barra{
        display: flex;
        justify-content: space-between;
    }
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px) { 
    .header__logo{
        margin: 0;
    }
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion__link{
    color: var(--primario);
    padding: 1rem;
}

@media (min-width: 768px) { 
    .navegacion{
        flex-direction: row;
        align-items: flex-start;
    }

    .navegacion__link{
        color: var(--blanco);

        transition: transform 300ms;
    }

    .navegacion__link:hover{
        transform: scale(1.15);
    }

    .navegacion__link:active{
        color: rgb(158, 158, 158);
    }
}

@media (min-width: 768px) { 
    .header__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}

.header__heading{
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px) { 
    .header__heading{
        text-align: left;
        font-size: 5rem;
        line-height: 1.2;
    }

    .header__img{
        max-width: 30rem;
        margin: 0 auto;
    }
}

.header__btn{
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    background-color: var(--primario);
    display: block;
    margin-bottom: 4rem;
}

@media (min-width: 768px) { 

    .header__btn{
        display: inline-block;
        padding: 1rem 3rem;

        transition: transform 300ms;
    }

    .header__btn:hover{
        transform: scale(1.15);
    }

    .header__btn:active{
        background-color: #582c8d;
    }
}


/*#########################################################*/
/**********************#### NUCLEUS ####********************/
/*#########################################################*/


.nucleus__heading{
    text-align: center;
    margin: 5rem 0;
}

.nucleus__grid{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) { 
    .nucleus__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        align-items: center;
    }
}

@media (min-width: 768px) { 
    .nucleus__img{
        max-width: 30rem;
        margin: 0 auto;
    }

}


.listado__elemento{
    margin-bottom: 4rem;
    padding: 2rem;
    background-color: var(--blanco);

    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    transition: transform 300ms;
}

@media (min-width: 768px) { 
    .listado__elemento:hover{
        transform: scale(1.1);
    }

    .listado__elemento:last-of-type{
        margin-bottom: 0;
    }
}


.listado__heading{
    color: var(--primario);
    margin: 0;
    font-size: 3rem;
}

.listado__texto{
    margin: 0;
    font-size: 2rem;
}


/*#########################################################*/
/**********************#### SEGURIDAD ####******************/
/*#########################################################*/


.seguridad{
    background-color: var(--primario);
    padding: 10rem 0;
    margin: 3rem 0;

    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

@media (min-width: 768px) { 
    .seguridad{
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }
}

.seguridad__heading{
    color: var(--blanco);
    margin-bottom: 5rem;
    text-align: center;
}

@media (min-width: 768px) { 
    .seguridad__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: center;
    }
}

